<div class="card grid grid-cols-1 md:grid-cols-2 gap-4">
    <p-inputgroup class="w-full md:!w-[30rem]">
        <input pInputText [(ngModel)]="text1" placeholder="Codigo" />
    </p-inputgroup>

    <p-inputgroup>
        <input pInputText [(ngModel)]="text1" placeholder="Nome" />
    </p-inputgroup>

    <p-inputgroup>
        <p-inputnumber [(ngModel)]="number" placeholder="Prazo em dias" />
    </p-inputgroup>

    <p-inputgroup>
        <input pInputText [(ngModel)]="text1" placeholder="Parametros" />
    </p-inputgroup>

    <p-inputgroup>
        <input pInputText [(ngModel)]="text1" placeholder="Identificador" />
    </p-inputgroup>

    <p-inputgroup>
        <input pInputText [(ngModel)]="text1" placeholder="Nome do Processo" />
    </p-inputgroup>

    <p-inputgroup>
      <div>
          <textarea rows="5" pTextarea  [(ngModel)]="text1"></textarea>
      </div>
    </p-inputgroup>
</div>
