<ng-container>
  @if (grafo?.visible) {
  <div class="flex justify-center">
    <form [formGroup]="nodeForm" (ngSubmit)="onSubmit(nodeForm.value)" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="flex flex-col gap-1">
        <p-inputgroup>
          <input pInputText type="text" formControlName="name" placeholder="Node Name">
        </p-inputgroup>
      </div>
      <div class="flex flex-col gap-1" formGroupName="task">
        <p-inputgroup>
          <input pInputText formControlName="name" placeholder="Task Name">
        </p-inputgroup>
        <p-inputgroup>
          <input pInputText formControlName="swmlane" placeholder="Swmlane">
        </p-inputgroup>
        <p-inputgroup>
          <input pInputText formControlName="priority" placeholder="Priority">
        </p-inputgroup>
      </div>
      <button pButton type="submit" type="submit"><span pButtonLabel>Salvar</span></button>
    </form>
  </div>
  }
</ng-container>