<ng-container>
  @if (grafo?.visible) {
    <form [formGroup]="nodeForm">
      <p-input-group>
        <input
          pInputText
          formControlName="name"
          placeholder="Node Name"
        >
      </p-input-group>
      <div formGroupName="task">
        <p-input-group>
          <input
            pInputText
            formControlName="name"
            placeholder="Task Name"
          >
        </p-input-group>
        <p-input-group>
          <input
            pInputText
            formControlName="swmlane"
            placeholder="Swmlane"
          >
        </p-input-group>
        <p-input-group>
          <input
            pInputText
            formControlName="priority"
            placeholder="Priority"
          >
        </p-input-group>
      </div>
      <p-button type="button" label="Salvar" (click)="save()" />
    </form>
  } @else {
    <div class="card flex flex-wrap gap-4 justify-center">
    <p-message severity="info">Cadastre as tarefas diretamente no grafo!</p-message>
  </div>
  }
</ng-container>
