<div class="card">
  <p-splitter [panelSizes]="[25, 75]" [style]="{ height: '100%' }" class="mb-8">
      <ng-template #panel>
          <div class="flex items-center justify-center h-full">
            <app-fluxo-form></app-fluxo-form>
          </div>
      </ng-template>
      <ng-template #panel>
        <div class="flex items-center justify-center h-full" [style]="{ height: '100%' }">
          <app-graph style="width: 100%; height: 100%;"></app-graph>
        </div>
      </ng-template>
  </p-splitter>
</div>

