<form [formGroup]="fluxoForm">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <p-inputgroup>
      <input
        pInputText
        formControlName="fluxo"
        placeholder="Nome" />
    </p-inputgroup>
    
    <p-inputgroup>
      <div>
        <textarea
          rows="5"
          pTextarea
          formControlName="descricao"
          placeholder="Descrição">
        </textarea>
      </div>
    </p-inputgroup>
  </div>
</form>

<!-- Mensagens de erro -->
<div class="mt-4">
  @if (fluxoForm.get('codigoFluxo')?.invalid && fluxoForm.get('codigoFluxo')?.touched) {
    <div class="text-red-500 text-sm">
      Código do fluxo é obrigatório (mínimo 2 caracteres)
    </div>
  } @else if (fluxoForm.get('fluxo')?.invalid && fluxoForm.get('fluxo')?.touched) {
    <div class="text-red-500 text-sm">
      Nome do fluxo é obrigatório (mínimo 2 caracteres)
    </div>
  }
</div>
