<div class="container-fluid" style="height: calc(100vh - 60px); overflow: hidden;">
  <div class="row h-100">
    <div class="col-md-3">
      @if (changeUrl) {
        <div class="mb-4 p-4">
          <router-outlet></router-outlet>
        </div>
      }
    </div>

    <div class="col-md-5" style="height: 100%; overflow: hidden;">
      <app-cytoscape style="display: block; height: 100%; width: 100%;"></app-cytoscape>
    </div>

    <div class="col-md-4">
      <div class="mb-4 p-4">
        <app-xml-editor [xmlCode]="xmlCode"/>
      </div>
    </div>
  </div>
</div>
